
* {
  border: none;
  border-radius: 0;
  min-height: 0;  
  font-family: "SF Pro", "Symbols Nerd Font";
  font-size: 13px;
  color: #cdd6f4;
}

window#waybar {
  background-color: #181825;
  transition-property: background-color;
  transition-duration: 0.5s;
}

window#waybar.hidden {
  opacity: 0.5;
}

#workspaces {
  background-color: transparent;
}

#workspaces button {
  all: initial;
  /* Remove GTK theme values (waybar #1351) */
  min-width: 0;
  /* Fix weird spacing in materia (waybar #450) */
  box-shadow: inset 0 -3px transparent;
  /* Use box-shadow instead of border so the text isn't offset */
  padding: 0px 12px;
  margin: 3px 3px;
  border-radius: 0px;
  background-color: rgba(30, 30, 46, 0.5);
  color: #cdd6f4;
}

#workspaces button.active {
  color: #cdd6f4;
  background-color: #cdd6f4;
}

#workspaces button:hover {
  box-shadow: inherit;
  text-shadow: inherit;
  color: #1e1e2e;
  background-color: rgba(205, 214, 244, 0.5);
}

#workspaces button.urgent {
  background-color: rgba(243, 139, 168, 0.5);
}

#memory,
#custom-appmenu,
#custom-appmenuicon,
#custom-power,
#group-hardware,
#pulseaudio,
#battery,
#backlight,
#wireplumber,
#network,
#clock,
#tray {
  border-radius: 0px;
  margin: 0px 3px;
  padding: 0px 3px;
  background-color: rgba(0, 0, 0, 0.0);
  color: #cdd6f4;
}

#custom-power {
}

#custom-logo {
  padding-right: 7px;
  padding-left: 7px;
  margin-left: 5px;
  font-size: 15px;
  border-radius: 8px 0px 0px 8px;
  color: #cdd6f4;
}

#memory {
  background-color: rgba(0, 0, 0, 0.0);
}

#battery {
  background-color: rgba(0, 0, 0, 0.0);
}

#battery.warning,
#battery.critical,
#battery.urgent {
  background-color: rgba(0, 0, 0, 0.0);
  color: #FFFF00;
}

#battery.charging {
  background-color: rgba(0, 0, 0, 0.0);
  color: #181825;
}

#backlight {
  background-color: rgba(0, 0, 0, 0.0);
}

#wireplumber {
  background-color: rgba(0, 0, 0, 0.0);
}

#network {
  background-color: rgba(0, 0, 0, 0.0);
}

#clock {
  font-family: JetBrainsMono Nerd Font;
  background-color: rgba(0, 0, 0, 0.0);
}

#custom-power {
  background-color: rgba(0, 0, 0, 0.0);
}


tooltip {
  border-radius: 4px;
  padding: 0px 15px;
  background-color: rgba(0, 0, 0, 0.0);
}

tooltip label {
  padding: 0px 5px;
  background-color: #131822;
}
