
* {
	border: none;
	border-radius: 0px;
	padding: 0;
	margin: 0;
	padding-left: 0px;
	padding-right: 0px;
	min-height: 0px;
	color: #ffffff;
	font-family: "SF Pro", "Symbols Nerd Font";
	font-size: 13px;
	font-weight: normal;
	transition-property: background-color;
	transition-duration: 0.5s;
}

#custom-appmenu {
	background-color: rgba(0, 0, 0, 0.0);
	font-size: 13px;
	color: #ffffff;
	border-radius: 0px;
	padding: 0px 0px 0px 0px;
	margin: 0px 0px 0px 10px;
	opacity: 0.8;
	border: 0px solid rgba(0, 0, 0, 0.0);
}

#custom-appmenuicon {
	font-size: 13px;
	color: #ffffff;
	margin: 0px 0px 0px 10px;
}


#workspaces {
	margin: 0px 0px 0px 0px;
	padding: 0px 0px;
	border-radius: 0px;
	border: 0px;
	font-weight: bold;
	font-style: normal;
	opacity: 0.8;
	font-size: 13px;
	color: #ffffff;
}

#workspaces button {
	padding: 0px 0px;
	margin: 0px 0px;
	border-radius: 1px;
	border: 0px;
	color: #ffffff;
	background-color: rgba(0, 0, 0, 0.0);
	transition: all 0.3s ease-in-out;
	opacity: 0.4;
}

#workspaces button.active {
	color: #ffffff;
	background: rgba(0, 0, 0, 0.0);
	border-radius: 0px;
	min-width: 30px;
	transition: all 0.3s ease-in-out;
	opacity: 1;
}

#workspaces button:hover {
	color: #ffffff;
	background: rgba(0, 0, 0, 0.0);
	border-radius: 0px;
	opacity: 0.7;
}

#network {
	background-color: rgba(0, 0, 0, 0.0);
	font-size: 13px;
	color: #ffffff;
	border-radius: 1px;
	padding: 2px 1px 0px 1px;
	margin: 8px 1px 8px 0px;
	opacity: 0.8;
}

#network.ethernet {
	background-color: rgba(0, 0, 0, 0.0);
	color: #ffffff;
}

#network.wifi {
	background-color: rgba(0, 0, 0, 0.0);
	color: #ffffff;
}

window#waybar {
	background: rgba(0, 0, 0, 0.0);
	background-color: rgba(0, 0, 0, 0.8); /* Change this last value to modify the bar opacity */
	color: #AAB2BF;
}

#custom-power {
	margin: 0px 10px 0px 0px;
}

#pulseaudio {
	background-color: rgba(0, 0, 0, 0.0);
	font-size: 13px;
	color: #ffffff;
	border-radius: 13px;
	padding: 2px 1px 0px 1px;
	margin: 8px 1px 8px 0px;
	opacity: 0.8;
}

#pulseaudio.muted {
	background-color: rgba(0, 0, 0, 0.0);
	color: #ffffff;
}

#battery {
	background-color: rgba(0, 0, 0, 0.0);
	font-size: 13px;
	color: #ffffff;
	border-radius: 13px;
	padding: 2px 1px 0px 1px;
	margin: 8px 1px 8px 0px;
	opacity: 0.8;
}

#battery.charging,
#battery.plugged {
	color: #ffffff;
	background-color: rgba(0, 0, 0, 0.0);
}

@keyframes blink {
	to {
		background-color: rgba(0, 0, 0, 0.0);
		color: #ffffff;
	}
}

#battery.critical:not(.charging) {
	background-color: rgba(0, 0, 0, 0.0);
	color: #f53c3c;
	animation-name: blink;
	animation-duration: 0.5s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
	animation-direction: alternate;
}